[gcode_macro PRIME_NOZZLE]
gcode:
  SAVE_GCODE_STATE NAME=PRIME_state

  G90 ; use absolute coordinates
  G0 X5 Y5 Z0.2 F1500 ; move to start position
  G91 ; use relative coordinates

  G1 X+100 E10 ; prime the nozzle
  G0 Y0.3 ; move to the side a little
  G1 X-100 E10 ; prime the nozzle
  G0 Y0.3 ; move to the side a little
  G1 X+100 E10 ; prime the nozzle

  RESTORE_GCODE_STATE NAME=PRIME_state

[gcode_macro PRIME_RESUME]
gcode:
  SAVE_GCODE_STATE NAME=PRIME_RESUME_state
  {% set current_z = printer.toolhead.position.z|float %}
  PRIME_NOZZLE
  G90 ; use absolute coordinates
  G1 Z{current_z} F900
  RESTORE_GCODE_STATE NAME=PRIME_RESUME_state

  {% if printer.pause_resume.is_paused %}
    RESUME
  {% endif %}

[gcode_macro PRINT_START]
gcode:
  {% set BED = params.BED|default(60)|float %}
  {% set EXTRUDER = params.EXTRUDER|default(205)|float %}
  CLEAR_PAUSE
  G90 ; use absolute coordinates
  M83 ; extruder relative mode
  
  M140 S{BED} ; set final bed temp
  M190 S{BED} ; wait for bed temp to stabilize
  COUNTDOWN S=300 ; stabilize bed temperature wobble
  M104 S150 ; set temporary nozzle temp to prevent oozing during homing
  M109 S150 ; wait for nozzle to reach temp
  
  G32
  M104 S{EXTRUDER} ; set final nozzle temp
  M109 S{EXTRUDER} ; wait for nozzle temp to stabilize
  
  PRIME_NOZZLE

[gcode_macro PRINT_END]
gcode:
  # safe anti-stringing move coords
  {% set th = printer.toolhead %}
  {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
  {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
  {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
  
  SAVE_GCODE_STATE NAME=STATE_PRINT_END
  
  M400                           ; wait for buffer to clear
  PREVENT_OOZE
  TURN_OFF_HEATERS
  
  G90                                      ; absolute positioning
  G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
  G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  ; park nozzle at rear
  M107                                     ; turn off fan
  M84                                      ; turn off steppers
  
  BED_MESH_CLEAR
  RESTORE_GCODE_STATE NAME=STATE_PRINT_END MOVE=0

[gcode_macro COUNTDOWN]
gcode:
  {% set S = params.S|default(60)|int %}
  {% for time in range(S|int, 0, -1) %}
    {% set minutes = (time / 60)|int %}
    {% set seconds = (time % 60)|int %}
    M117 Ready in: {'%dM%02dS'|format(minutes, seconds)}
    G4 P1000
  {% endfor %}
  M117

[gcode_macro PURGE]
gcode:
  {% set EXTRUDER = params.EXTRUDER|default(205)|float %}
  {% set homed_axes = printer.toolhead.homed_axes %}
  SAVE_GCODE_STATE NAME=PURGE_state
  {% if homed_axes != "xyz" %}
    G28
    PARK
  {% endif %}

  M109 S{EXTRUDER} ; wait for nozzle temp to stabilize
  M83
  G92 E0
  G1 E40 F300
  G92 E0
  G1 E40 F300
  G92 E0
  G1 E40 F300
  PREVENT_OOZE

  {% if homed_axes != "xyz" %}
    TURN_OFF_HEATERS
    M84
  {% endif %}

  RESTORE_GCODE_STATE NAME=PURGE_state

[gcode_macro PREVENT_OOZE]
gcode:
  G92 E0
  G1 E-10 F1800

[gcode_macro PARK]
gcode:
  _TOOLHEAD_PARK_PAUSE_CANCEL

[gcode_macro M125]
gcode:
  PARK
  PREVENT_OOZE

[gcode_macro M600]
gcode:
  PAUSE
  PREVENT_OOZE
